// ===================== основные стили ================
/*body {
	background: #ececec;
	font-family: "Open Sans", sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-size: 16px;
	color: #000;
	min-width: 320px;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto; 
	position: relative;
}
img {
	max-width: 100%;
	height: auto;
}
h3 {
	font-size: 24px;
	font-weight: 700;
	font-weight: bold;
}
.btn-red {
	background: #d51e08;
	color:#fff;
	font-size: 16px;
}
.btn-red:hover {
	background: #ec4835;
	transition: background 1.3s;
}
.btn {	
	border-radius: 10px;
}
h1 {
    color: #fff;
	font-size: 60px;
	font-weight: bold;
}
*/
